<%= link_to 'Создать', new_admin_gallery_path, class: 'btn btn-default' %>
<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Text</th>
      <th>Item</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td>
          <%= image_tag gallery.photo.url(:medium) %>
        </td>
        <td>
          <%= gallery.text %>
        </td>
        <td>
          <%= gallery.item %>
        </td>
        <td>
          <%= link_to 'Редактировать', edit_admin_gallery_path(gallery), class: 'btn btn-default' %></td>
        </td>
        <td>
          <%= link_to 'Удалить', admin_gallery_path(gallery), class: 'btn btn-default',
          method: :delete,
          data: { confirm: 'Продолжить?' } %>
        </td>
    </tr>
    <% end %>
  </tbody>
