<%= form_for [@comment], html: { multipart: true } do |form| %>
  <div class="row">
    <div class="col-sm-4">
      <%= form.label :Имя %>
      <%= form.text_field :name, class: 'form-control' %>
      <%= form.label :Тема %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="col-sm-4">
      <%= form.label :Отзыв %>
      <br>
      <%= form.text_area :text %>
      <br>
    </div>
    <div class="col-sm-4">
      
    </div>
  </div>

    <%= form.submit 'Создать', class: 'btn btn-default'%>
<% end %>
