<% @pictures.where(id:43).each do |picture| %>
    <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
    <%= link_to 'Редактировать',edit_admin_picture_path(picture), class: 'btn btn-default' %>
<%end %>
<br> <%= link_to 'Создать', new_admin_sheet_path, class: 'btn btn-default' %>
<% @sheets.where(item:'Контакты').each do |sheet| %>
  <%= image_tag sheet.photo.url(:big) %>
<h2><%= sheet.title %></h2>
<p class="p1"><%= sheet.text.html_safe %>
  <%= link_to 'Редактировать', edit_admin_sheet_path(sheet), class: 'btn btn-default' %>

  <%= link_to 'Удалить', admin_sheet_path(sheet), class: 'btn btn-default',
  method: :delete,
  data: { confirm: 'Продолжить?' } %>
<% end %>
<% @comments.each do |comment| %>
<div class="row">
  <div class="col-sm-3">
    <span>Имя :</span>  <%= comment.name %>
    <span>Тема :</span><%= comment.title %>
    <span>Почта :</span><%= comment.mail %>
    <span>Телефон :</span><%= comment.phone %>
  </div>
  <div class="col-sm-6" style="display:inline">
    <span>Отзыв :</span><%= comment.text %>
  </div>
    <%= link_to 'Удалить', admin_comments_path(comment), class: 'btn btn-default',
    method: :delete,
    data: { confirm: 'Продолжить?' } %>
  </div>
</div>
<% end %>
