<% @pictures.where(id:43).each do |picture| %>
    <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
<%end %>
<% @sheets.where(item:'Контакты').each do |sheet| %>
  <%= image_tag sheet.photo.url(:big), alt: ' ' if sheet.photo? %>
<h2><%= sheet.title %></h2>
<p class="p1"><%= sheet.text.html_safe %>
<% end %>

<div class="row margin-top-30">
  <div class="col-sm-6">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3AZ-wOfBe5h-yXu7vcZh6wqAtvug6Vk3F1&amp;source=constructor" width="100%" height="450" frameborder="0"></iframe>
  </div>
  <div class="col-sm-6">
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad7405fd8d3b22d5cd229c56e08fa680d8cd01288bc37de9ebffc49cfde2ad935&amp;source=constructor" width="100%" height="450" frameborder="0"></iframe>
  </div>
</div>
<form action="https://formspree.io/mknzgpaq" method="POST">
  <div class="row">
    <div class="col-sm-4">
      <input class="forma" placeholder="Имя*" type="text" name="comment[name]" id="comment_name">
      <input class="forma" placeholder="Тема*" type="text" name="comment[title]" id="comment_title">
      <input class="forma" placeholder="e-mail*" type="text" name="comment[mail]" id="comment_mail">
      <input class="forma" placeholder="Телефон*" type="text" name="comment[phone]" id="comment_phone">
    </div>
    <div class="col-sm-4">
      <textarea class="forma-textarea" placeholder="Заявка*" name="comment[text]" id="comment_text"></textarea>
      <input type="submit" name="commit" value="Создать" class="forma-button" data-disable-with="Создать">
    </div>
    <div class="col-sm-4 comment">
      <p style="text-align: left">
      Тел. <br>
      8(812)408-5453 <br>
      8(921)305-0909 <br>
      <a href="mailto:info@nord-plan.ru?subject=feedback">info@nord-plan.ru</a></p>
      <p style="text-align: left">
      г. Санкт-Петербург,<br>
      ш. Революции,<br>
      д. 69, лит.А, офис 56,<br>
      БЦ "Re-Forma"</p>
    </div>
  </div>