<% content_for :tags do %>
<% @tags.where(item:'ГЕНПЛАН').each do |tag| %>
<title><%= tag.title %></title>
<META NAME="keywords" CONTENT="<%= tag.keywords %>">
<META NAME="description" CONTENT="<%= tag.description %>">
<% end %>
<% end %>
<div class="building">
  <% @pictures.where(id:13).each do |picture| %>
      <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
  <%end %>
  <% @sheets.where(item:'ГЕНПЛАН').each do |sheet| %>
  <%= image_tag sheet.photo.url(:big), alt: 'ГЕНПЛАН ' if sheet.photo? %>
  <h2><%= sheet.title %></h2>
  <p class="p1"><%= sheet.text.html_safe %>
  <% end %>
</div>
<div class="map">
  <svg class="img-responsive genplan" viewBox="0 0 1400 1036">
    <a href="/sales/1">
    <path id="sale1" class="part"  data-house="Декабрь" d="M 15.857605,602.74757 248.6246,609.54369 249.19094,292.39158 27.184466,197.8123 Z"/></a>
    <a href="/sales/5">
    <path id="sale2" class="part" data-house="<p>ВИЛЛА «МАЙ»" d="m 248.6246,609.54369 -3.96441,171.0356 -234.466015,-1.69903 5.66343,-176.13269 z"/></a>
    <a href="/sales/7">
    <path id="sale3" class="part" data-house=""  d="m 10.194175,948.78317 234.466015,2.83172 V 780.57929 L 10.194175,778.88026 Z"/></a>
    <a href="/sales/2">
    <path id="sale4" class="part" data-house="" d="m 288.83495,313.34628 -1.40119,239.19234 200.93332,2.30267 1.80209,-157.98344 z"/></a>
    <a href="sales/4">
    <path id="sale5" class="part" data-house="" d="M 488.36708,554.84129 487.36591,754.87357 288.3348,753.27171 287.43376,552.53862 Z"/></a>
    <a href="/sales/9">
    <path id="sale6" class="part" data-house="<p>ВИЛЛА «СЕНТЯБРЬ»" d="m 487.36591,754.87357 -2.40279,199.0311 -197.82971,-4.00465 1.20139,-196.62831 z"/></a>
    <path id="sale10"  class="part" data-house="<p>ВИЛЛА «МАРТ»" d="M 488.16684,613.90988 728.04538,615.91221 724.4412,495.37224 490.16917,396.85785 Z"/>
    <a href="/sales/3">
    <path id="sale7" class="part" data-house="<p>ВИЛЛА «ИЮЛЬ»" d="m 488.16684,613.90988 -0.54548,168.93478 236.16505,1.69903 4.25897,-168.63148 z"/></a>
    <a href="/sales/6">
    <path id="sale8" class="part" data-house="<p>ВИЛЛА «ОКТЯБРЬ»" d="m 487.62136,782.84466 -2.65824,171.06001 235.99158,-0.0244 2.83171,-169.33657 z"/></a>
    <path id="sale11" class="part" data-house="<p>ВИЛЛА «АПРЕЛЬ» <br> ПРОДАНА </p> " d="m 767.96117,514.9644 v 240.12945 l 200.48544,1.69903 1.13268,-154.04531 z"/>
    <a href="/sales/8">
    <path id="sale12" class="part" data-house="<h3>ВИЛЛА «НОЯБРЬ» </h3>" d="m 767.96117,755.09385 v 197.08738 l 199.91909,3.9644 0.56635,-199.35275 z"/></a>
  </svg>
  <div class="house-window hidden-xs hidden-sm">
  </div>
  <%= image_tag(image_path('genplan5.jpg'), alt: 'nordplan', class: 'img-responsive top-footer') %>
</div>
