<% content_for :tags do %>
<% @tags.where(item:'ГЛАВНАЯ').each do |tag| %>
<title><%= tag.title %></title>
<META NAME="keywords" CONTENT="<%= tag.keywords %>">
<META NAME="description" CONTENT="<%= tag.description %>">
<% end %>
<% end %>
<div class="home">
  <div id="carousel-home" class="carousel slide carousel-fade" data-ride="carousel" data-pause="hover">
    <ol class="carousel-indicators">
      <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-home" data-slide-to="1"></li>
      <li data-target="#carousel-home" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <% @pictures.where(id:1).each do |picture| %>
            <%= image_tag picture.photo.url(:big), alt: ' ' %>
        <div class="carousel-caption">
          <h3 class="white-shadow"><%= picture.title.html_safe %> </h3>
        </div>
        <%end %>
      </div>
      <div class="item">
        <% @pictures.where(id:2).each do |picture| %>
            <%= image_tag picture.photo.url(:big), alt: ' ' %>
        <div class="carousel-caption">
          <h3 class="white-shadow"><%= picture.title.html_safe %></h3>
        </div>
        <%end %>
      </div>
      <div class="item">
        <% @pictures.where(id:3).each do |picture| %>
            <%= image_tag picture.photo.url(:big), alt: ' ' %>
        <div class="carousel-caption">
          <h3 class="white-shadow"><%= picture.title.html_safe %></h3>
        </div>
        <%end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="img-tab image-show anim1">
        <a href="/location">
          <% @pictures.where(id:4).each do |picture| %>
              <%= image_tag picture.photo.url(:small),  alt: 'РАСПОЛОЖЕНИЕ', class: 'img-responsive anim1' %>
          <%end %>
          <div class="text-tab-1">
            <p>РАСПОЛОЖЕНИЕ</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="img-tab image-show anim2">
        <a href="/genplan">
          <% @pictures.where(id:5).each do |picture| %>
              <%= image_tag picture.photo.url(:small),  alt: 'ГЕНПЛАН', class: 'img-responsive' %>
          <%end %>
          <div class="text-tab-1">
                <p>ГЕНПЛАН</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="img-tab image-show">
        <a href="/infrastructure">
          <% @pictures.where(id:6).each do |picture| %>
              <%= image_tag picture.photo.url(:small),  alt: 'ИНФРАСТРУКТУРА',class: 'img-responsive anim3' %>
          <%end %>
          <div class="text-tab-1">
                <p>ИНФРАСТРУКТУРА</p>
            </div>
          </a>
          </div>
      </div>
    </div>
      <div class="about text-center p1">
        <% @sheets.where(item:'ГЛАВНАЯ').each do |sheet| %>
        <a href="/gallery">
          <%= image_tag sheet.photo.url(:big), alt: ' ', class: 'img-responsive img-tab' if sheet.photo?%>
        </a>
        <!--<p></p>
        <p class="pub"></p> -->
        <h2><%= sheet.title %></h2>
        <p class="p1"><%= sheet.text.html_safe %></p>
        <% end %>
        </div>
        <div class="conteiner">
        <div class="row">
          <% @sales.each_slice(3) do |row| %>
              <% row.each do |sale| %>
                <div class="col-sm-4 col-lg-4 img-all">
                  <div class="model-house model-show">
                    <%= link_to sale_path(sale) do %>
                    <%= image_tag sale.photo.url(:medium), alt: 'nordplan', class: 'img-responsive' %>
                    <div class="mask">
                    <p><%= sale.title %> </p>
                    </div>
                    <% end %>
                    </div>
                </div>
          <% end %>
          <% end %>
          </div>
          </div>
          </div>
