<% content_for :tags do %>
<% @tags.where(item:'ДОМА').each do |tag| %>
<title><%= tag.title %></title>
<META NAME="keywords" CONTENT="<%= tag.keywords %>">
<META NAME="description" CONTENT="<%= tag.description %>">
<% end %>
<% end %>
<% @pictures.where(id:26).each do |picture| %>
    <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
<%end %>
<% @sheets.where(id:187).each do |sheet| %>
  <%= image_tag sheet.photo.url(:big), alt: ' ' if sheet.photo?%>
<h2><%= sheet.title %></h2>
<p class="p1"><%= sheet.text.html_safe %>
<% end %>
<div class="row">
<% @sales.each_slice(3) do |row| %>
    <% row.each do |sale| %>
      <div class="col-sm-4 col-lg-4">
        <div class="model-house-2">
          <%= image_tag sale.photo.url(:small), alt: 'nordplan', class: 'img-responsive' %>
          <h3 class="center model-head-2"><%= sale.title %>  </h3>
          <h4 class="center model-head-3"><%= sale.desc %>  </h4>
          <div class="center">
          <%= link_to sale_path(sale), class: 'btn-primary', role: 'button' do %>
          <div class="test66">
          <%= content_tag :span, "Подробнее", :class => "home-link" %>
          <%= content_tag :span, "Подробнее", :class => "home-link" %>
          </div>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
<% end %>
</div>
<% @sheets.where(item:'ДОМА').each do |sheet| %>
  <%= image_tag sheet.photo.url(:big), alt: ' ' if sheet.photo?%>
<h2><%= sheet.title %></h2>
<p class="p1"><%= sheet.text.html_safe %>
<% end %>
