<% content_for :tags do %>
<% @tags.where(item:'ИНФРАСТРУКТУРА').each do |tag| %>
<title><%= tag.title %></title>
<META NAME="keywords" CONTENT="<%= tag.keywords %>">
<META NAME="description" CONTENT="<%= tag.description %>">
<% end %>
<% end %>
<div class="building">
  <% @pictures.where(id:9).each do |picture| %>
      <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
  <%end %>
  <% @sheets.where(item:'ИНФРАСТРУКТУРА').each do |sheet| %>
  <%= image_tag sheet.photo.url(:big), alt: 'ИНФРАСТРУКТУРА ' if sheet.photo? %>
  <h2><%= sheet.title %></h2>
  <p class="p1"><%= sheet.text.html_safe %>
  <div class="row">
    <div class="col-sm-4">
      <dl class="">
        <dd>
        <%= link_to sheet.img1.url(:big), :"data-fresco-group" => sheet.title,:"data-fresco-caption" => sheet.string1, class: 'fresco' do %>
        <%= image_tag sheet.img1.url(:medium), alt: 'nordplan', class: 'img-responsive' if sheet.img1?%>
        <% end %>  </dd>
      <!--     <dt class="gallery-building">
          <div class="text-gallery-building">
            <%= sheet.string1 %>
          </div>
        </dt>-->
      </dl>

    </div>
    <div class="col-sm-4">
      <dl class="">
        <dd>
          <%= link_to sheet.img2.url(:big), :"data-fresco-group" => sheet.title,:"data-fresco-caption" => sheet.string2, class: 'fresco' do %>
          <%= image_tag sheet.img2.url(:medium), alt: 'nordplan', class: 'img-responsive' if sheet.img2?%>
          <% end %>
        <!--    <dt class="gallery-building">
            <div class="text-gallery-building">
              <%= sheet.string1 %>
            </div>
          </dt>-->
        </dl>
    </div>
    <div class="col-sm-4">
      <dl class="">
        <dd>
          <%= link_to sheet.img3.url(:big), :"data-fresco-group" => sheet.title,:"data-fresco-caption" => sheet.string3, class: 'fresco' do %>
          <%= image_tag sheet.img3.url(:medium), alt: 'nordplan', class: 'img-responsive' if sheet.img3?%>
          <% end %>
      <!--    <dt class="gallery-building">
            <div class="text-gallery-building">
              <%= sheet.string1 %>
            </div> -->
          </dt>
        </dl>
    </div>
  </div>
    <% end %>
</div>
