<% content_for :tags do %>
<% @tags.where(item:'LAKE VILLA').each do |tag| %>
<title><%= tag.title %></title>
<META NAME="keywords" CONTENT="<%= tag.keywords %>">
<META NAME="description" CONTENT="<%= tag.description %>">
<% end %>
<% end %>
<div class="nordplan">
  <div class="item active">
    <% @pictures.where(id:7).each do |picture| %>
        <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
    <%end %>
  </div>
  <% @sheets.where(item:'LAKE VILLA').each do |sheet| %>
  <%= image_tag sheet.photo.url(:big), alt: ' ' if sheet.photo? %>
  <h2><%= sheet.title %></h2>
  <h3><%= sheet.subtitle %></h3>
  <p class="p1"><%= sheet.text.html_safe %>
    <br>
    <br>
  <% end %>
  <br>
  <br>
</div>
