<% content_for :tags do %>
<% @tags.where(item:'ЦЕНЫ').each do |tag| %>
<title><%= tag.title %></title>
<META NAME="keywords" CONTENT="<%= tag.keywords %>">
<META NAME="description" CONTENT="<%= tag.description %>">
<% end %>
<% end %>
<% @pictures.where(id:25).each do |picture| %>
    <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
<%end %>
<% @sheets.where(item:'ЦЕНЫ').each do |sheet| %>
  <%= image_tag sheet.photo.url(:big), alt: ' ' if sheet.photo? %>
<h2><%= sheet.title %></h2>
<p class="p1"><%= sheet.text.html_safe %>
<% end %>
