<% content_for :tags do %>
<% @tags.where(item:'Инженерные системы').each do |tag| %>
<title><%= tag.title %></title>
<META NAME="keywords" CONTENT="<%= tag.keywords %>">
<META NAME="description" CONTENT="<%= tag.description %>">
<% end %>
<% end %>
<div class="building">
  <% @pictures.where(id:38).each do |picture| %>
      <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
  <%end %>
</div>
<% @sheets.where(item:'Инженерные системы').each do |sheet| %>
<%= image_tag sheet.photo.url(:big), alt: ' ' if sheet.photo?%>
<h2 id="sheet-slide"><%= sheet.title %></h2>
<h3><%= sheet.subtitle %></h3>
<div class="p1 slide"><%= sheet.text.html_safe %></div>
<div class="row">
  <div class="col-sm-4">
    <dl class="">
      <dd>
      <%= link_to sheet.img1.url(:big), :"data-fresco-group" => "yeah!",:"data-fresco-caption" => sheet.string1, class: 'fresco' do %>
      <%= image_tag sheet.img1.url(:medium), alt: 'nordplan', class: 'img-responsive' %>
      <% end %>  </dd>
      <dt class="gallery-building">
        <div class="text-gallery-building">
          <%= sheet.string1 %>
        </div>
      </dt>
    </dl>
  </div>
  <div class="col-sm-4">
    <dl class="">
      <dd>
        <%= link_to sheet.img2.url(:big), :"data-fresco-group" => "yeah!",:"data-fresco-caption" => sheet.string2, class: 'fresco' do %>
        <%= image_tag sheet.img2.url(:medium), alt: 'nordplan', class: 'img-responsive' %>
        <% end %>
        <dt class="gallery-building">
          <div class="text-gallery-building">
            <%= sheet.string1 %>
          </div>
        </dt>
      </dl>
  </div>
  <div class="col-sm-4">
    <dl class="">
      <dd>
        <%= link_to sheet.img3.url(:big), :"data-fresco-group" => "yeah!",:"data-fresco-caption" => sheet.string3, class: 'fresco' do %>
        <%= image_tag sheet.img3.url(:medium), alt: 'nordplan', class: 'img-responsive' %>
        <% end %>
        <dt class="gallery-building">
          <div class="text-gallery-building">
            <%= sheet.string1 %>
          </div>
        </dt>
      </dl>
  </div>
</div>
<% end %>
