
<% content_for :tags do %>
<% @tags.where(item:'Поселки').each do |tag| %>
<title><%= tag.title %></title>
<META NAME="keywords" CONTENT="<%= tag.keywords %>">
<META NAME="description" CONTENT="<%= tag.description %>">
<% end %>
<% end %>
  <% @pictures.where(id:17).each do |picture| %>
            <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
        <%end %>
        <div class="row">
          <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="img-tab img-show">
              <a href="/lakevilla">
                <% @pictures.where(id:18).each do |picture| %>
                  <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
                <%end %>
                <div class="text-tab-1">
                  <p>Lake Villa</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="img-tab img-show">
                <% @pictures.where(id:19).each do |picture| %>
                  <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
                <%end %>
                <div class="text-tab-1">
                  <p>Зеркальный</p>
                </div>
                <div class="text-tab-2">
                  <p>Продан</p>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="img-tab img-show">
                <% @pictures.where(id:20).each do |picture| %>
                  <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
                <%end %>
                <div class="text-tab-1">
                  <p>Киварин ручей</p>
                </div>
                <div class="text-tab-2">
                  <p>Продан</p>
                </div>
            </div>
          </div>
        </div>
        <% @sheets.where(item:'Поселки').each do |sheet| %>
          <%= image_tag sheet.photo.url(:big) if sheet.photo? %>
        <h2><%= sheet.title %></h2>
        <h3><%= sheet.subtitle %></h3>
        <p class="p1"><%= sheet.text.html_safe %>
        <% end %>
