<% if @sale.errors.present? %>
 <%= @sale.errors.full_messages%>
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<%= form_for [:admin, @sale], html: { multipart: true } do |form| %>
 <div class="form-group">
   <%= form.label :title %>
   <%= form.text_field :title, class: 'form-control' %>
 </div>
 <div class="form-group">
   <%= form.label :Описание %>
   <%= form.text_field :desc, class: 'form-control'  %>
 </div>
 <%= form.text_area :minitext, :class => "tinymce", :rows => 15, :cols => 120 %>
  <%= tinymce %>
 <%= form.text_area :text, :class => "tinymce", :rows => 40, :cols => 120 %>
 <%= tinymce %>
 <h2>Иконка проекта</h2>
 <%= form.file_field :photo %>
 <h2>Чертежи</h2>
 <%= form.fields_for :relcovers do |relcover_form| %>
 <%= relcover_form.file_field :photo %>
 <% end %>
 <h2>ТЭП</h2>
 <table class="table">
   <thead>
     <tr>
       <td>Название</td>
       <td>Значение</td>
     </tr>
   </thead>
   <tbody class="table-style">
     <%= form.fields_for :tables do |table_form| %>
     <tr>
       <td>  <%= table_form.text_field :column1 %> <br>
 </td>
       <td>  <%= table_form.text_field :column2 %><br>
 </td>
     </tr>
     <% end %>
   </tbody>
 </table>
 <h3>Обложка</h3>
 <%= form.file_field :bimage %>
 <h3>Маленькая картинка</h3>
 <%= form.file_field :simage %>
 <h3>Карта</h3>
 <%= form.file_field :map %>
 <h3>Галерея</h3>
 <%= form.fields_for :pics do |pics_form| %>
 <%= pics_form.file_field :photo %>
 <%= pics_form.text_field :text %>
 <% end %>
<%= form.submit 'Сохранить', class: 'btn btn-default'%>
<% end %>
