<%= link_to 'Создать', new_admin_sale_path, class: 'btn btn-default' %>
<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td>
          <%= image_tag sale.photo.url(:small) %>
          <br>
          <%= link_to 'Подробнее', admin_sale_path(sale), class: 'btn btn-primary', role: 'button' %>
        </td>
        <td>
          <%= sale.title %>
        </td>
        <td>
          <%= link_to 'Редактировать', edit_admin_sale_path(sale), class: 'btn btn-default' %></td>
        </td>
        <td>
          <%= link_to 'Удалить', admin_sale_path(sale), class: 'btn btn-default',
          method: :delete,
          data: { confirm: 'Продолжить?' } %>
        </td>
    </tr>

    <% end %>
  </tbody>

  </table>
