<% if @sale.errors.present? %>
  <%= @sale.errors.full_messages%>
<% end %>
<%= form_for [:admin, @sale], html: { multipart: true } do |form| %>
  <div class="form-group">
    <%= form.label :Название %>
    <%= form.text_field :title, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= form.label :Описание %>
    <%= form.text_field :desc, class: 'form-control'  %>
  </div>
  <%= form.text_area :minitext, :class => "tinymce", :rows => 15, :cols => 120 %>
   <%= tinymce %>
  <%= form.text_area :text, :class => "tinymce", :rows => 40, :cols => 120 %>
   <%= tinymce %>
  <h2>Иконка проекта</h2>
  <%= form.file_field :photo %>
  <h2>Чертежи</h2>
  <%= form.fields_for :relcovers do |relcover_form| %>
  <%= relcover_form.file_field :photo %>
  <% end %>
  <h2>ТЭП</h2>
  <table>
    <thead>
      <tr>
        <td>Название</td>
        <td>Значение</td>
      </tr>
    </thead>
    <tbody>
      <%= form.fields_for :tables do |table_form| %>
      <tr>
        <td>  <%= table_form.text_field :column1 %> <br></td>
        <td>  <%= table_form.text_field :column2 %><br></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h2>Обложка</h2>
  <%= form.file_field :bimage %>
  <h2>Маленькая картинка</h2>
  <%= form.file_field :simage %>
  <h2>Карта</h2>
  <%= form.file_field :map %>
  <h2>Галерея</h2>
  <%= form.fields_for :pics do |pics_form| %>
  <%= pics_form.file_field :photo %>
  <%= pics_form.text_field :text %>
  <% end %>
<%= form.submit 'Создать', class: 'btn btn-default'%>
<% end %>
