<div class="villages">
  <%= image_tag @sale.photo.url(:big) %>
  <h1><%= @sale.title %></h1>
  <p> <%= @sale.text.html_safe %></p>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tbody class="table-style">
        <% @sale.tables.each do |t| %>
        <tr>
          <td>  <%= t.column1 %></td>
          <td style="text-align:right">  <%= t.column2 %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<h2>Чертежи</h2>
<table class="table">
    <thead>
      <tr>
        <th>Photo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @sale.relcovers.each do |t| %>
      <tr>
        <td>
          <%= image_tag t.photo.url(:small) %>
        </td>
        <td>
          <%= link_to 'Удалить',admin_sale_relcover_path(@sale.id, t.id), class: 'btn btn-default',
          method: :delete,
          data: { confirm: 'Продолжить?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<h2>Галерея</h2>
<table class="table">
    <thead>
      <tr>
        <th>Photo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @sale.pics.each do |t| %>
      <tr>
        <td>
          <%= image_tag t.photo.url(:small) %>
        </td>
        <td>
          <%= link_to 'Удалить',admin_sale_pic_path(@sale.id, t.id), class: 'btn btn-default',
          method: :delete,
          data: { confirm: 'Продолжить?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h2>Добавить галерею</h2>
  <%= form_with(model: [ @sale, @sale.pics.build ], local: true) do |form| %>
    <p>
      <%= form.file_field :photo %>
      <%= form.submit 'Сохранить', class: 'btn btn-default'%>
    </p>
  <% end %>
  <h2>Добавить картинку :</h2>
  <%= form_with(model: [ @sale, @sale.relcovers.build ], local: true) do |form| %>
    <p>
      <%= form.file_field :photo %>
      <%= form.submit 'Сохранить', class: 'btn btn-default'%>
    </p>
  <% end %>
