<title><%= @model.title  %></title>
<META NAME="description" CONTENT="Проектирование Индивидуальное nordplan коттуджи поселки Спб Санкт-Петербург">
<% @model.covers.each do |cover| %>
<%= image_tag cover.photo.url(:big), class: 'img-responsive' %>
<% end %>
<h1><%= @model.title %></h1>
<p> <%= @model.text.html_safe %></p>
<div class="row">
<div class="col-md-6">
  <h3 style="">ТЭП</h3>
  <table class="table">
    <tbody class="table-style">
      <% @model.model_tables.each do |t| %>
      <tr>
        <td>  <%= t.column1 %></td>
        <td>  <%= t.column2 %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <a href="<%= @model.plan.url%>" class="download" target="_blank">Скачать чертежи</a>
</div>
<div class="col-md-6">
  <% @model.model_images.each_slice(2) do |row| %>
    <% row.each do |t| %>
      <div class="col-sm-6 col-lg-6">
        <div class="gallery-img">
          <%= link_to t.photo.url(:big) , :"data-fresco-group" => "yeah!",class: 'fresco' do %>
          <%= image_tag t.photo.url(:small), alt: 'nordplan', class: 'img-responsive' %>
          <% end %>
        </div>
      </div>
      <% end %>
  <% end %>
</div>
</div>
<div class="model-view">
  <p id="load-model">
    Галерея
  </p>
</div>
<div class="model-gallery">
  <div class="row">
<% @model.model_galleries.each_slice(3) do |row| %>
  <% row.each do |t| %>
    <div class="col-sm-4 col-lg-4">
      <div class="gallery-img">
        <%= link_to t.photo.url(:big) , :"data-fresco-group" => "yeah!!",class: 'fresco' do %>
        <%= image_tag t.photo.url(:small), alt: 'nordplan', class: 'img-responsive' %>
        <% end %>
      </div>
    </div>
    <% end %>
<% end %>
  </div>
</div>
