$(document).on 'turbolinks:load', ->
  $(".part").hover ->
    $('.house-window').html('<%= image_tag(image_path('fev.jpg'), class: 'img-responsive') %>')
  $("#sale1").hover ->
    $('.house-window').html('<p>ВИЛЛА «ДЕКАБРЬ»</p>
    <span>222 м2 / 5 спален / 12 соток
     <%= image_tag(image_path('dec.jpg'), class: 'img-responsive') %>')
  $("#sale2").hover ->
    $('.house-window').html('<p>ВИЛЛА «МАЙ»</p>
    <span>222 м2 / 5 спален / 12 соток <br></p>
     <%= image_tag(image_path('may.jpg'), class: 'img-responsive') %>')
  $("#sale3").hover ->
    $('.house-window').html('<p>ВИЛЛА «АВГУСТ»</p>
    <span>222 м2 / 5 спален / 12 соток <br></p>
     <%= image_tag(image_path('aug.jpg'), class: 'img-responsive') %>')
  $("#sale4").hover ->
    $('.house-window').html('<p>ВИЛЛА «ФЕВРАЛЬ»</p>
    <span>222 м2 / 5 спален / 15 соток <br></p>
     <%= image_tag(image_path('fev.jpg'), class: 'img-responsive') %>')
  $("#sale5").hover ->
    $('.house-window').html('<p>ВИЛЛА «ИЮНЬ»</p>
    <span>222 м2 / 5 спален / 12 соток <br></p>
     <%= image_tag(image_path('june.jpg'), class: 'img-responsive') %>')
  $("#sale6").hover ->
    $('.house-window').html('<p>ВИЛЛА «СЕНТЯБРЬ»</p>
    <span>222 м2 / 5 спален / 12 соток <br></p>
     <%= image_tag(image_path('sen.jpg'), class: 'img-responsive') %>')
  $("#sale7").hover ->
    $('.house-window').html('<p>ВИЛЛА «ИЮЛЬ»</p>
    <span>222 м2 / 5 спален / 12 соток <br></p>
     <%= image_tag(image_path('jule.jpg'), class: 'img-responsive') %>')
  $("#sale8").hover ->
    $('.house-window').html('<p>ВИЛЛА «ОКТЯБРЬ»</p><h3> Продана</h3>')
  $("#sale9").hover ->
    $('.house-window').html('<p>ВИЛЛА «МАЙ»</p>
    <span>222 м2 / 5 спален / 12 соток <br></p>
     <%= image_tag(image_path('dec.jpg'), class: 'img-responsive') %>')
  $("#sale10").hover ->
    $('.house-window').html('<p>ВИЛЛА «МАРТ»</p><h3> Продана</h3>')
  $("#sale11").hover ->
    $('.house-window').html('<p>ВИЛЛА «АПРЕЛЬ»</p><h3> Продана</h3>')
  $("#sale12").hover ->
    $('.house-window').html('<p>ВИЛЛА «НОЯБРЬ»</p>
    <span>222 м2 / 5 спален / 13 соток <br></p>
     <%= image_tag(image_path('nov.jpg'), class: 'img-responsive') %>')
