<%= form_for [:admin, model_table], html: { multipart: true } do |form| %>

  <% if model_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model_table.errors.count, "error") %> prohibited this model_table from being saved:</h2>

      <ul>
      <% model_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
