<p id="notice"><%= notice %></p>

<h1>Model Tables</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @model_tables.each do |model_table| %>
      <tr>
        <td><%= link_to 'Show', model_table %></td>
        <td><%= link_to 'Edit', edit_model_table_path(model_table) %></td>
        <td><%= link_to 'Destroy', model_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Model Table', new_admin_model_table_path %>
