<%= form_for [:admin, model_gallery], html: { multipart: true } do |form| %>
  <% if model_gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model_gallery.errors.count, "error") %> prohibited this model_gallery from being saved:</h2>

      <ul>
      <% model_gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title %> <br>
    <br> <%= form.label :text %>
  <br> <%= form.text_area :text %>
  <br>  <%= form.file_field :photo %>
   <br>  <%= form.label :model_id %>
   <br>  <%= form.text_field :model_id, id: :model_image_model_id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
