<p id="notice"><%= notice %></p>

<h1>Model Galleries</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @model_galleries.each do |model_gallery| %>
      <tr>
        <td><%= model_gallery.text %></td>

        <td><%= image_tag model_gallery.photo.url(:small) %></td>

        <td><%= link_to 'Edit', edit_admin_model_gallery_path(model_gallery) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Model Gallery', new_admin_model_gallery_path %>
