<p id="notice"><%= notice %></p>

<h1>Covers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Model</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @covers.each do |cover| %>
      <tr>
        <td><%= cover.title %></td>
        <td><%= cover.model.title %></td>
        <td><%= image_tag cover.photo.url(:small) %></td>
        <td><%= link_to 'Редактировать', edit_admin_cover_path(cover) %></td>
        <td><%= link_to 'Удалить', admin_cover_path(cover), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cover', new_admin_cover_path %>
