<% if @model.errors.present? %>
  <%= @model.errors.full_messages%>
<% end %>
<%= form_for [:admin, @model], html: { multipart: true } do |form| %>
  <div class="form-group">
    <%= form.label :Title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <%= form.text_area :text, :class => "tinymce", :rows => 40, :cols => 120 %>
   <%= tinymce %>
  <h2>Иконка проекта</h2>
  <%= form.file_field :photo %>
  <h2>Маленькая картинка</h2>
  <%= form.file_field :simage %>
  <%= form.fields_for :covers do |cover_form| %>
  <h2>Фото</h2>
  <%= cover_form.file_field :photo %>
  <% end %>
  <h2>Принадлежность</h2>
  <%= form.select :item, [['Главные'], ['NORD PLAN'], ['Индивидуальные'], ['Европейские']], class: 'form-control', id: 'exampleFormControlSelect1' %>
  <%= form.select :subitem, [['Америка'], ['Канада'], ['Франция'], ['Германия'], ['Чехия'], ['Англия'], ['Норвегия']], class: 'form-control', id: 'exampleFormControlSelect1' %>

  <br>
  <h2>ТЭП</h2>
  <table>
    <thead>
      <tr>
        <td>Название</td>
        <td>Значение</td>
      </tr>
    </thead>
    <tbody>
      <%= form.fields_for :model_tables do |table_form| %>
      <tr>
        <td>  <%= table_form.text_field :column1 %> <br></td>
        <td>  <%= table_form.text_field :column2 %><br></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h2>Загрузить чертежи</h2>
  <%= form.file_field :plan %>
  <%= form.submit 'Сохранить', class: 'btn btn-default'%>
<% end %>
