<div class="villages">
  <% @model.covers.each do |cover| %>
  <%= image_tag cover.photo.url(:big), class: 'img-responsive' %>
  <% end %>
  <h1><%= @model.title %></h1>
  <p> <%= @model.text.html_safe %></p>
  <h2>Чертежи</h2>
  <table class="table">
      <thead>
        <tr>
          <th>Photo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @model.model_images.each do |t| %>
        <tr>
          <td>
            <%= image_tag t.photo.url(:small) %>
          </td>
          <td>
            <%= link_to 'Удалить',admin_model_model_image_path(@model.id, t.id), class: 'btn btn-default',
            method: :delete,
            data: { confirm: 'Продолжить?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <h2>Галерея</h2>
    <table class="table">
        <thead>
          <tr>
            <th>Photo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @model.model_galleries.each do |t| %>
          <tr>
            <td>
              <%= image_tag t.photo.url(:small) %>
            </td>
            <td>
              <%= link_to 'Удалить',admin_model_model_gallery_path(@model.id, t.id), class: 'btn btn-default',
              method: :delete,
              data: { confirm: 'Продолжить?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
<h2>Добавить галерею</h2>
<%= form_with(model: [ @model, @model.model_galleries.build ], local: true) do |form| %>
  <p>
    <%= form.file_field :photo %>
    <%= form.submit 'Сохранить', class: 'btn btn-default'%>
  </p>
<% end %>
<h2>Добавить картинку :</h2>
<%= form_with(model: [ @model, @model.model_images.build ], local: true) do |form| %>
  <p>
    <%= form.file_field :photo %>
    <%= form.submit 'Сохранить', class: 'btn btn-default'%>
  </p>
<% end %>
<h2>Скачать чертежи</h2>
<a href="<%= @model.plan.url%>" class="download btn btn-default">Скачать</a>
