<%= link_to 'Создать', new_admin_picture_path, class: 'btn btn-default' %>

<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Title</th>
      <th>Text</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td>
          <%= image_tag picture.photo.url(:small) %>
        </td>
        <td>
          <%= picture.title %>
        </td>
      
        <td>
          <%= link_to 'Редактировать', edit_admin_picture_path(picture), class: 'btn btn-default' %></td>
        </td>
        <td>
          <%= link_to 'Удалить', admin_picture_path(picture), class: 'btn btn-default',
          method: :delete,
          data: { confirm: 'Продолжить?' } %>
        </td>
    </tr>
      </tr>
    <% end %>
  </tbody>
</table>
