<% if @picture.errors.present? %>
  <%= @picture.errors.full_messages%>
<% end %>

<%= form_for [:admin, @picture], html: { multipart: true } do |form| %>
  <div class="form-group">
  <%= form.label :Подпись %>
  <%= form.text_field :title, class: 'form-control' %>
  <%= form.file_field :photo %>
  <%= form.submit 'Создать', class: 'btn btn-default'%>
<% end %>
