<%= form_with(model: cover, local: true) do |form| %>
  <% if cover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cover.errors.count, "error") %> prohibited this cover from being saved:</h2>

      <ul>
      <% cover.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :cover_title %>
  </div>

  <div class="field">
    <%= form.label :model_id %>
    <%= form.text_field :model_id, id: :cover_model_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
