<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cover.title %>
</p>

<p>
  <strong>Model:</strong>
  <%= @cover.model %>
</p>

<%= link_to 'Edit', edit_cover_path(@cover) %> |
<%= link_to 'Back', covers_path %>
