<!DOCTYPE html>
<html>
  <head>
    <title>NORD PLAN</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Настройки</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= active_link_to 'На сайт', root_path, active: :exact, wrap_tag: :li %></li>
              <li><%= active_link_to 'Галерея', admin_galleries_path, wrap_tag: :li %></li>
              <li><%= active_link_to 'Теги', admin_tags_path, wrap_tag: :li %></li>
              <li><%= active_link_to 'Дома', admin_sales_path, wrap_tag: :li %></li>
              <li><%= active_link_to 'Картинки', admin_pictures_path, wrap_tag: :li %></li>
              <li><%= active_link_to 'Отзывы', admin_comments_path, wrap_tag: :li %></li>
            </ul>
          </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
              <li>
                <%= active_link_to 'LAKE VILLA', '/admin/home' , wrap_tag: :li %>
              </li>
              <li>
                <%= active_link_to 'РАСПОЛОЖЕНИЕ', '/admin/location', wrap_tag: :li %>
              </li>
              <li>
                <%= active_link_to 'ГЕНПЛАН', '/admin/genplan', wrap_tag: :li %>
              </li>
              <li>
                <%= active_link_to  'ДОМА', '/admin/houses', wrap_tag: :li %>
              </li>
              <li>
                <%= active_link_to 'ИНФРАСТРУКТУРА', '/admin/infrastructure', wrap_tag: :li %>
              </li>
              <li>
                <%= active_link_to 'ЦЕНЫ', '/admin/prices', wrap_tag: :li %>
              </li>
              <li>
                <%= active_link_to 'ГАЛЕРЕЯ', '/admin/gallery', wrap_tag: :li %>
              </li>
              <li>
                <%= active_link_to 'КОНТАКТЫ', '/admin/contacts', wrap_tag: :li %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
