<%= form_for [:admin, model_picture], html: { multipart: true } do |form| %>

  <div class="form-group">
  <%= form.file_field :photo %>
  <%= form.submit 'Сохранить', class: 'btn btn-default'%>
<% end %>
