<%= link_to 'Создать', new_admin_model_picture_path, class: 'btn btn-default' %>

<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>model</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @model_pictures.each do |model| %>
      <tr>
        <td>
          <%= image_tag model.photo.url(:big) %>
          <br>
          <%= link_to 'Подробнее', admin_model_path(model), class: 'btn btn-primary', role: 'button' %>
        </td>
        <td>
          <%= model.model_id %>
        </td>
        <td>
          <%= link_to 'Редактировать', edit_admin_model_picture_path(model), class: 'btn btn-default' %></td>
        </td>
        <td>
          <%= link_to 'Удалить', admin_model_picture_path(model), class: 'btn btn-default',
          method: :delete,
          data: { confirm: 'Продолжить?' } %>
        </td>
    </tr>

    <% end %>
  </tbody>

  </table>
