<p id="notice"><%= notice %></p>

<h1>Relcovers</h1>

<table>
  <thead>
    <tr>
      <th>Sale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relcovers.each do |relcover| %>
      <tr>
        <td><%= relcover.sale %></td>
        <td><%= link_to 'Show', relcover %></td>
        <td><%= link_to 'Edit', edit_relcover_path(relcover) %></td>
        <td><%= link_to 'Destroy', relcover, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relcover', new_relcover_path %>
