<%= form_for [:admin, @tag], html: { multipart: true } do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :tag_description %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :tag_description %>
  </div>

  <div class="field">
    <%= form.label :keywords %>
    <%= form.text_area :keywords, id: :tag_keywords %>
  </div>
  <div class="field">
  <%= form.label :Принадлежит %>
  <%= form.select :item, [['ГЛАВНАЯ'], ['LAKE VILLA'], ['РАСПОЛОЖЕНИЕ'], ['ГЕНПЛАН'], ['ДОМА'], ['ЦЕНЫ'], ['ГАЛЕРЕЯ'], ['КОНТАКТЫ']], class: 'form-control', id: 'exampleFormControlSelect1' %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
