
<h1>Теги</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Keywords</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.title %></td>
        <td><%= tag.description %></td>
        <td><%= tag.keywords %></td>
        <td><%= tag.item %></td>
        <td><%= link_to 'Редактировать', edit_admin_tag_path(tag), class: 'btn btn-default' %></td>
        <td><%= link_to 'Удалить', admin_tag_path(tag), class: 'btn btn-default',
        method: :delete,
        data: { confirm: 'Продолжить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать теги', new_admin_tag_path, class: 'btn btn-default' %>
