  <%= form_for [:admin, @relcover], html: { multipart: true } do |form| %>

  <% if relcover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relcover.errors.count, "error") %> prohibited this relcover from being saved:</h2>

      <ul>
      <% relcover.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %> <br>
    <%= form.text_field :title %> <br>
    <%= form.label :subtitle %>
 <br>    <%= form.text_field :subtitle %>
    <br> <%= form.label :text %>
  <br> <%= form.text_area :text %>
  <br>  <%= form.file_field :photo %>
   <br>  <%= form.label :sale_id %>
   <br>  <%= form.text_field :sale_id, id: :relcover_sale_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
