<p id="notice"><%= notice %></p>

<h1>Relcovers</h1>

<table>
  <thead>
    <tr>
      <th>Sale</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relcovers.each do |relcover| %>
      <tr>
        <td><%= relcover.title %></td>
        <td><%= relcover.subtitle %></td>
        <td><%= relcover.text %></td>
        <td><%= relcover.sale %></td>
        <td><%= image_tag relcover.photo.url(:small) %></td>
        <td><%= link_to 'Edit', edit_admin_relcover_path(relcover) %></td>
        <td><%= link_to 'Destroy', admin_relcover_path(relcover), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relcover', new_admin_relcover_path %>
