<div class="home">
  <div id="carousel-home" class="carousel slide carousel-fade" data-ride="carousel" data-pause="hover">
    <ol class="carousel-indicators">
      <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-home" data-slide-to="1"></li>
      <li data-target="#carousel-home" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
          <%= image_tag(image_path('karusel1.jpg')) %>
      </div>
      <div class="item">
          <%= image_tag(image_path('karusel2.jpg')) %>
      </div>
      <div class="item">
          <%= image_tag(image_path('karusel3.jpg')) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="img-tab">
        <a href="/nordplan">
          <%= image_tag(image_path('im1.jpg'), alt: 'nordplan', class: 'img-responsive img-class-1 anim1') %>
        </a>

          <p class="text-tab">NORD PLAN</p>

      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="img-tab">
        <a href="/projects">
          <%= image_tag(image_path('im2.jpg'), alt: 'nordplan', class: 'img-responsive img-class-1 anim2') %>
        </a>
        <div class="text-tab">
          <p class="text-tab">ПРОЕКТИРОВАНИЕ</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="img-tab">
        <a href="/building">
          <%= image_tag(image_path('im3.jpg'), alt: 'nordplan', class: 'img-responsive img-class-1 anim3') %>
        </a>
        <div class="text-tab">
          <p class="text-tab">СТРОИТЕЛЬСТВО</p>
        </div>
      </div>
    </div>
  <!--  <div class="col-lg-6 col-sm-6 col-xs-12">
      <div class="img-tab">
        <a href="/earth">
          <%= image_tag(image_path('im4.jpg'), alt: 'nordplan', class: 'img-responsive img-class-1') %>
        </a>
        <div class="text-tab">
          <p class="text-tab"><strong>ЗЕМЛЯ</strong></p>
        </div>
      </div>
    </div>  -->
  </div>
  <div class="about text-center p1">
    <h2>СОВРЕМЕННЫЕ ШАЛЕ NORD PLAN</h2>
    <p class="p1">Современные шале NORD PLAN выходят за рамки традиционных представлений о дoмах этого типа. Панорамное остекление, открытые террасы объединяют внутреннее и внешнее пространство, гармонично вписывая дом в природное окружение. Более чем десятилетний опыт проектирования, строительства и эксплуатации шале NORD PLAN позволил учесть пожелания будущих владельцев - создать современный комфортный экологичный дом, наполненный инновационным инженерным оборудованием.
    <div class="about-image">
      <a href="#">
        <%= image_tag(image_path('im5.jpg'), alt: 'nordplan', class: 'center-block img-test') %>
      </a>
  <!--  <div class="text-tab">
        <p><strong>LAKE-VILAGE</strong></p>
      </div> -->
    </div>
    </p>
  </div>
  <div class="projects text-center">
    <h2>НЕКОТОРЫЕ ПРОЕКТЫ КОМПАНИИ «NORD PLAN»</h2>
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12 img-all">
            <%= image_tag(image_path('im4.jpg'), alt: 'nordplan', class: 'img-responsive  ') %>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 img-all">
            <%= image_tag(image_path('im4.jpg'), alt: 'nordplan', class: 'img-responsive  ') %>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 img-all">
            <%= image_tag(image_path('im4.jpg'), alt: 'nordplan', class: 'img-responsive  ') %>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 img-all">
            <%= image_tag(image_path('im4.jpg'), alt: 'nordplan', class: 'img-responsive  ') %>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 img-all">
            <%= image_tag(image_path('im4.jpg'), alt: 'nordplan', class: 'img-responsive  ') %>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 img-all">
            <%= image_tag(image_path('im4.jpg'), alt: 'nordplan', class: 'img-responsive  ') %>
        </div>
      </div>
  </div>
</div>
