
<%= form_for [:admin, @sheet], html: { multipart: true } do |form| %>
  <div class="form-group">
    <%= form.label :Заголовок %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <%= form.label :Картинка %>
  <%= form.file_field :photo %>
  <%= form.label :Текст %>
  <br>
  <%= form.text_area :text, :class => "tinymce", :rows => 40, :cols => 120 %>
   <%= tinymce %>
  <br>
  <%= form.label :Принадлежность %>
  <%= form.select :item, [['ГЛАВНАЯ'], ['РАСПОЛОЖЕНИЕ'], ['ГЕНПЛАН'], ['ИНФРАСТРУКТУРА'], ['ДОМА'], ['ЦЕНЫ'], ['ГАЛЕРЕЯ'], ['КОНТАКТЫ'], ['Другое']], class: 'form-control', id: 'exampleFormControlSelect1' %>
  <div class="row">
    <div class="col-sm-4">
      <%= form.label :Фото№1 %>
      <br>
      <%= form.file_field :img1 %>
      <br>
      <%= form.label :Подпись %>
      <br>
      <%= form.text_field :string1 %>
      <br>
    </div>
    <div class="col-sm-4">
      <%= form.label :Фото№2 %>
      <br>
      <%= form.file_field :img2 %>
      <br>
      <%= form.label :Подпись %>
      <br>
      <%= form.text_field :string2 %>
      <br>
    </div>
    <div class="col-sm-4">
      <%= form.label :Фото№3 %>
      <br>
      <%= form.file_field :img3 %>
      <br>
      <%= form.label :Подпись %>
      <br>
      <%= form.text_field :string3 %>
      <br>
    </div>

  <%= form.submit 'Сохранить', class: 'btn btn-default'%>
<% end %>
