<%= link_to 'Создать', new_admin_sheet_path, class: 'btn btn-default' %>

<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Text</th>
      <th>Item</th>
      <th>Number</th>
      <th>Редактировать</th>
      <th>Удалить</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sheets.each do |sheet| %>
      <tr>
        <td>
            <%= image_tag sheet.photo.url(:small) %>
        </td>
        <td>
          <%= sheet.title %>
        </td>
        <td>
          <%= sheet.subtitle %>
        </td>
        <td>
          <%= sheet.text %>
        </td>
        <td>
          <%= sheet.item %>
        </td>
        <td>
          <%= sheet.number %>
        </td>
        <td>
          <%= link_to 'Редактировать', edit_admin_sheet_path(sheet), class: 'btn btn-default' %></td>
        </td>
        <td>
          <%= link_to 'Удалить', admin_sheet_path(sheet), class: 'btn btn-default',
          method: :delete,
          data: { confirm: 'Продолжить?' } %>
        </td>
    </tr>
      </tr>
    <% end %>
  </tbody>
</table>
