  <h1>Создание новой статьи</h1>
<%= form_for [:admin, @sheet], html: { multipart: true } do |form| %>
  <div class="form-group">
    <%= form.label :Заголовок %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :Подзаголовок %>
    <%= form.text_field :subtitle, class: 'form-control' %>
  </div>
  <%= form.label :Заставка %>
  <br>
  <%= form.file_field :photo %>
  <br>
  <%= form.label :Текст %>
  <br>
  <%= form.text_area :text,  :class => "tinymce", :rows => 20, :cols => 120%>
   <%= tinymce %>
  <br>
  <div class="form-group">
    <%= form.label :Принадлежность %>
    <br>
    <%= form.select :item, [['ГЛАВНАЯ'], ['РАСПОЛОЖЕНИЕ'], ['ГЕНПЛАН'], ['ДОМА'], ['ИНФРАСТРУКТУРА'], ['ЦЕНЫ'], ['ГАЛЕРЕЯ'], ['КОНТАКТЫ']], class: 'form-control', id: 'exampleFormControlSelect1' %>
    <br>
    <br>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <%= form.label :Фото№1 %>
      <br>
      <%= form.file_field :img1 %>
      <br>
      <%= form.label :Подпись %>
      <br>
      <%= form.text_field :string1 %>
      <br>
    </div>
    <div class="col-sm-4">
      <%= form.label :Фото№2 %>
      <br>
      <%= form.file_field :img2 %>
      <br>
      <%= form.label :Подпись %>
      <br>
      <%= form.text_field :string2 %>
      <br>
    </div>
    <div class="col-sm-4">
      <%= form.label :Фото№3 %>
      <br>
      <%= form.file_field :img3 %>
      <br>
      <%= form.label :Подпись %>
      <br>
      <%= form.text_field :string3 %>
      <br>
    </div>
  </div>




    <%= form.submit 'Создать', class: 'btn btn-default'%>


  <% end %>
