<%= form_for [@admin_pic], html: { multipart: true } do |form| %>

  <% if admin_pic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_pic.errors.count, "error") %> prohibited this admin_pic from being saved:</h2>

      <ul>
      <% admin_pic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br> <%= form.label :text %>
<br> <%= form.text_area :text %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
