<p id="notice"><%= notice %></p>

<h1>Admin Pics</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th colspan="3">Текст</th>
    </tr>
    <tr>
      <th colspan="3">Картинкаы</th>
    </tr>
  </thead>

  <tbody>
    <% @pics.each do |admin_pic| %>
      <tr>
        <td><%= admin_pic.text %></td>
        <td><%= image_tag admin_pic.photo.url(:small) %></td>
        <td><%= link_to 'Show', admin_pic %></td>
        <td><%= link_to 'Edit', edit_admin_pic_path(admin_pic) %></td>
        <td><%= link_to 'Destroy', admin_pic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Pic', new_admin_pic_path %>
