.img-tab
  overflow: hidden
  position: relative
  margin-top: 30px
  .text-tab-1
    position: absolute
    overflow: hidden
    top: 42%
    bottom: 0
    left: 0
    right: 0
    img
      display: block
      position: relative
    p
      position: relative
      color: white
      padding: 5px 5px
      text-align: center
      margin: 0px
      text-align: center
      font-size: 22px
      font-weight: 400
      text-transform: uppercase
      color: white
      font-family: 'Montserrat', sans-serif
      opacity: 0.85
.img-show
  img
    transition: 1s
  &:hover
    img
      transform: scale(1.3, 1.3)
      -webkit-filter: brightness(70%)
