.home
  .carousel-fade
    .carousel-inner
      .item
        transition-property: opacity
      .item
        opacity: 0
      .active.left
        opacity: 0
      .active.right
        opacity: 0
      .active
        opacity: 1
      .next.left
        opacity: 1
      .prev.right
        opacity: 1
      .next
        left: 0
        transform: translate3d(0, 0, 0)
      .prev
        left: 0
        transform: translate3d(0, 0, 0)
      .active.left
        left: 0
        transform: translate3d(0, 0, 0)
      .active.right
        left: 0
        transform: translate3d(0, 0, 0)
  min-height: 1000px
  .carousel
    .carousel-indicators
      .active
        background-color: #9f784c
      li
        height: 20px
        width: 20px
        border: 1px solid #9f784c
        margin: 0px
  //  .item
      transition-delay: 5s
      transition-duration: 0.6s
      transition-property: opacity
      transition-timing-function: ease-in-out
  @keyframes shadow
    0%
      padding-top: 100px
    100%
      padding-top: 0px
  .img-tab
    overflow: hidden
    position: relative
    margin-top: 30px
    .text-tab-1
      position: absolute
      overflow: hidden
      top: 42%
      bottom: 0
      left: 0
      right: 0
    img
      display: block
      position: relative
    p
      position: relative
      color: white
      padding: 5px 5px
      text-align: center
      margin: 0px
      text-align: center
      font-size: 22px
      font-weight: 400
      text-transform: uppercase
      color: white
      font-family: 'Montserrat', sans-serif
      opacity: 0.85
  .image-show
    img
      transition: 1s
    &:hover
      img
        transform: scale(1.3, 1.3)
        -webkit-filter: brightness(70%)
    .mask
      opacity: 1
    p
      z-index: 555
      transition: all 2s linear
  .im1
    max-width: 830px
.img-all
  padding-top: 15px
  padding-bottom: 10px
.about
  position: relative
  img
    display: block
    width: 830px
    height: 400px
    margin-left: auto
    margin-right: auto
    margin-top: 40px
    margin-bottom: 80px
  @media (max-width: $screen-xs-max)
    img
      width: auto
      height: auto
  /*p
    position: absolute
    top: 1%
    left: 70%
    color: white
    text-transform: uppercase
    font-family: 'Montserrat', sans-serif
    font-size: 28px
    @media (max-width: $screen-xs-max)
      top: 20%
      left: 33% */
  .pub
    font-size: 18px
    position: absolute
    top: 10%
    left: 70%
    border: solid 1px white
    padding: 4px
    cursor: pointer
    @media (max-width: $screen-xs-max)
      top: 40%
      left: 33% //
.model-house
  overflow: hidden
  position: relative
  .mask
    position: absolute
    overflow: hidden
    bottom: 0
    left: 0
    right: 0
  img
    display: block
    position: relative
  p
    position: relative
    color: white
    padding: 5px 5px
    text-align: center
    background-color: rgba(66, 66, 66, 0.8)
    margin: 0px
.model-show
  img
    transition: all 1s linear
  &:hover
    img
      transform: scale(1.3, 1.3)
  .mask
    opacity: 0
  p
    opacity: 0
    transition: all 1s linear
    transform: translateY(100%)
  &:hover
    .mask
      opacity: 1
    p
      opacity: 1
      transform: translateY(0px)
.projects
  .row
    padding-left: -5px
    padding-right: -5px
  h2
    margin-bottom: 40px
