.model-head-2
  font-size: 21px
  font-family: 'Montserrat', sans-serif
  margin-top: 25px
.model-content
  font-size: 15px
  font-family: "Questrial", sans-serif
.btn-primary
  margin-top: 12px
  border: 2px solid #9f784c
  color: #9f784c
  background: transparent
  text-transform: uppercase
  font-size: 18px
  font-family: "Montserrat", sans-serif
  height: 42px
  overflow: hidden
  span
    text-align: center
    display: block
    width: 100%
    height: 38px
    transition: all .3s
.img-tab
  overflow: hidden
  position: relative
  margin-top: 30px
  .text-tab-1
    position: absolute
    overflow: hidden
    top: 42%
    bottom: 0
    left: 0
    right: 0
    img
      display: block
      position: relative
    p
      position: relative
      color: white
      padding: 5px 5px
      text-align: center
      margin: 0px
      text-align: center
      font-size: 22px
      font-weight: 400
      text-transform: uppercase
      color: white
      font-family: 'Montserrat', sans-serif
      opacity: 0.85
.img-show
  img
    transition: 1s
  &:hover
    img
      transform: scale(1.3, 1.3)
      -webkit-filter: brightness(70%)
