.home-link
  text-align: center
  display: block
  width: 100%
  height: 38px
  transition: all .3s
.model-head-3
  font-size: 15px
  height: 30px
.model-house-2
  overflow: hidden
  position: relative
  margin-top: 60px
.btn-primary
  margin-top: 12px
  border: 2px solid #9f784c
  color: #9f784c
  background: transparent
  text-transform: uppercase
  font-size: 18px
  font-family: "Montserrat", sans-serif
  height: 42px
  overflow: hidden
  display: inline-block
  margin-bottom: 0
  font-weight: normal
  text-align: center
  vertical-align: middle
  cursor: pointer
  white-space: nowrap

  white-space: nowrap
  text-decoration: none

  &:hover
    color: #9f784c
    background-color: transparent
    border: 2px solid #9f784c
    text-decoration: none
  &:active
    color: #9f784c
    background-color: transparent
    border: 2px solid #9f784c
    text-decoration: none
  &:focus
    color: #9f784c
    background-color: transparent
    border: 2px solid #9f784c
    text-decoration: none
  span
    text-align: center
    display: block
    width: 100%
    height: 38px
    text-decoration: none
    &:hover
      text-decoration: none
  .test66
    transition: all .3s
    padding: 6px 12px
    &:hover
      transform: translate(0,-38px)
      text-decoration: none
