.footer
  margin-top: 100px
  .top-footer
    display: block
    margin-left: auto
    margin-right: auto
    
  .links
    padding-bottom: 15px
    a
      text-align: center
      font-size: 43px
      font-family: 'Montserrat', sans-serif
      color: #9f784c
      text-decoration: none
      @media (max-width: $screen-xs-max)
        font-size: 32px
        a
          color: red
  .bottom-footer
    padding-top: 40px
    padding-bottom: 40px
    width: 100%
    background-color: #303030
  .logo3
    width: 100px
    height: 100px
  .footer-text
    text-align: center
    font-size: 20px
    color: white
