.navbar
  font-family: 'Montserrat', sans-serif
  font-size: 16px
  border-color: #9f784c
  height: 94px
  background-color: white
  border: none
  transition: 0.5s
  &-mini
    height: 64px
    transition: 0.3s
  @media (max-width: $screen-xs-max)
    height: 69px
  .navbar-nav
    margin-top: 0px
    li
      a
        padding-left: 0px
        padding-right: 0px
        padding-top: 5px
        padding-bottom: 9px
        margin-right: 21px
        color: #424242
        &:hover
          color: #9f784c
          background-color: white
        @media (max-width: $screen-md-max)
          margin-right: 7px
          padding-left: 0px
          padding-right: 0px
          line-height: 1.4
        @media (max-width: $screen-xs-max)
          background-color: white
          padding-left: 10px
          padding-top: 10px
          padding-bottom: 10px
          font-size: 18px
          line-height: 1.4
    .active
      background-color: white
      border-bottom: 3px solid transparent
      border-color: #9f784c
      @media (max-width: $screen-xs-max)
        border-left: 3px solid transparent
        border-color: #9f784c
        border-bottom: none
        background-color: white
        line-height: 1.4
  .container
    .tel
      position: absolute
      color: #9f784c
      font-size: 16px
      font-family: "Questrial", sans-serif
      padding-top: 5px
      margin-left: 180px
      list-style-type: none
      height: inherit
      height: 30px
      z-index: 1000
      @media (max-width: $screen-xs-max)
        margin-left: 15px
      &-mini
        margin-left: 65px
        @media (max-width: $screen-xs-max)
          margin-left: 15px
    .row
      margin-left: 0px
      margin-right: 0px
      .col-sm-2
        .logo
          position: absolute
          top: 0
          left: 0
          height: 224px
          transition: 0.3s
          &-mini
            height: 64px
            transition: 0.3s
        padding-left: 0px
        padding-right: 15px
      .col-sm-10
        padding-left: 0px
        padding-right: 0px
    height: inherit
    .margin-class
    .navbar-header
      transition: 0.3s
      &-mini
        transition: 0.3s
      .navbar-brand
        font-size: 20px
        font-family: "Montserrat", sans-serif
        color: rgb(66, 66, 66)
        padding: 0px 0px
        @media (max-width: $screen-xs-max)
          padding: 33px 15px
      .navbar-toggle
        border-radius: 0
        border-color: #424242
    .navbar-collapse
      margin-top: 40px
      transition: 0.3s
      @media (max-width: $screen-xs-max)
        margin-top: 0px
        padding-right: 6px
      &-mini
        margin-top: 15px
        transition: 0.3s
        @media (max-width: $screen-xs-max)
          margin-top: 0px
      .nav
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
          a
            font-size: 12px
