body
  padding-top: 94px
  @media (max-width: $screen-xs-max)
    padding-top: 69px
  p
    font-size: 22px
    font-family: "Questrial", sans-serif
    color: #333333
    text-align: center
    @media (max-width: $screen-xs-max)
      font-size: 17px
  h2
    font-size: 43px
    font-family: 'Montserrat', sans-serif
    color: #9f784c
    text-align: center
    margin-top: 50px
    @media (max-width: $screen-xs-max)
      font-size: 32px
  h1
    font-size: 52px
    font-family: 'Montserrat', sans-serif
    color: #333333
    margin-top: 50px
    @media (max-width: $screen-xs-max)
      font-size: 32px
  h3
    font-size: 32px
    font-family: 'Montserrat', sans-serif
    color: #9f784c
    text-align: center
    margin-top: 50px
    @media (max-width: $screen-xs-max)
      font-size: 24px
  .white-shadow
    color: white
  h4
    font-size: 32px
    font-family: 'Montserrat', sans-serif
    color: #9f784c
    text-align: center
    margin-top: 20px
    @media (max-width: $screen-xs-max)
      font-size: 17px
  td
    padding: 0px
  .center
    text-align: center
  .gallery-img
    margin-top: 30px
  .table-style
    font-size: 22px
    @media (max-width: $screen-xs-max)
      font-size: 17px
    font-family: "Questrial", sans-serif
    color: #333333
  .margin
    margin-bottom: 30px
  .right
    text-align: left
  #load-model
    background: linear-gradient(to bottom, #e9e9e9 0%,#e9e9e9 50%, #e1e1e1 50%,#e1e1e1 100%)
    padding: 12px 15px 15px
    cursor: pointer
    margin-top: 30px
  .model-gallery
    display: none
  .forma
    margin-bottom: 30px
    border: 1px solid #424242
    background: transparent
    border-radius: 0
    font-size: 22px
    font-weight: 300
    color: #424242
    transition: all .3s ease
    padding-left: 9px
    padding-right: 9px
    height: auto
    padding: 5px 12px
    width: 100%
  .forma-textarea
    margin-top: 8px
    height: 233px
    width: 100%
    font-size: 22px
    padding: 5px 12px
    border: 1px solid #424242
    display: block
  .forma-button
    background: #424242
    color: #fff
    display: block
    width: 100%
    margin: 0
    border: none
    padding: 0px
    line-height: inherit
    font: inherit
    font-size: 22px
  .download
    margin-top: 20px
    display: inline-block
    margin-bottom: 0
    font-weight: normal
    text-align: center
    vertical-align: middle
    cursor: pointer
    background-image: none
    border: 1px solid transparent
    white-space: nowrap
    padding: 6px 12px
    font-size: 20px
    line-height: 1.42857143
    color: #424242
    border-color: #424242
    font-size: 22px
    font-family: "Questrial", sans-serif
    &:hover
      background-color: #ebebeb
      text-decoration: none
  .vk
    background-image: image-url('vk.jpg')
    background-size: 45px
    background-repeat: no-repeat
    height: 45px
    width: 45px
    display: inline-block
    margin-right: 12px
  .inst
    background: image-url('inst.jpg')
    background-size: 45px
    background-repeat: no-repeat
    height: 45px
    width: 45px
    display: inline-block
  .model-view
    height: 78px
    position: relative

    &:hover
      opacity: .8
  .photo-icon
    position: absolute
    top: 14px
    left: 41%
  .photo-gallery
    margin-left: auto
    margin-right: auto
    margin-top: 13px
  .gallery-building
    background: #424242
    color: #fff
    font-size: 18px
    padding: 4px 6px
    text-align: center
    font-family: "Questrial", sans-serif
    min-height: 83px
    font-weight: normal
    position: relative
  .text-gallery-building
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 5px
    right: 5px
  .map
    margin-top: 30px
    position: relative
    text-align: center
  .genplan
    position: absolute
  .part
    cursor: pointer
    fill: gray
    opacity: .1
    &:hover
      transition: opacity .3s ease
      opacity: .5
  .house-window
    left: 810px
    top: 0px
    position: absolute
    box-sizing: border-box
    width: 320px
    height: 280px
    background-color: white
  .social
    width: 80px
    margin-top: 20px
    text-align: center
    margin-left: auto
    margin-right: auto
    cursor: pointer
    &:hover
      transition: opacity .3s ease
      opacity: .5
  #inst
    fill: #9f784c
  .margin-top-30
    margin-top: 30px
