<% @sheets.where(item:'КОНТАКТЫ').each do |sheet| %>
  <%= image_tag sheet.photo.url(:big) %>
<h2><%= sheet.title %></h2>
<p class="p1"><%= sheet.text.html_safe %>
  <%= link_to 'Удалить', admin_sheet_path(sheet), class: 'btn btn-default',
  method: :delete,
  data: { confirm: 'Продолжить?' } %>
<% end %>
<br> <%= link_to 'Создать', new_admin_sheet_path, class: 'btn btn-default' %>
