<div class="home">
  <div id="carousel-home" class="carousel slide carousel-fade" data-ride="carousel" data-pause="hover">
    <ol class="carousel-indicators">
      <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-home" data-slide-to="1"></li>
      <li data-target="#carousel-home" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <% @pictures.where(id:1).each do |picture| %>
            <%= image_tag picture.photo.url(:big) %>
            <%= link_to 'Редактировать',edit_admin_picture_path(picture), class: 'btn btn-default' %>
        <%end %>
      </div>
      <div class="item">
        <% @pictures.where(id:2).each do |picture| %>
            <%= image_tag picture.photo.url(:big) %>
            <%= link_to 'Редактировать',edit_admin_picture_path(picture), class: 'btn btn-default' %>
        <%end %>
      </div>
      <div class="item">
        <% @pictures.where(id:3).each do |picture| %>
            <%= image_tag picture.photo.url(:big) %>
            <%= link_to 'Редактировать',edit_admin_picture_path(picture), class: 'btn btn-default' %>
        <%end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="img-tab">
        <a href="/nordplan">
          <% @pictures.where(id:4).each do |picture| %>
              <%= image_tag picture.photo.url(:small),  alt: 'nordplan', class: 'img-responsive img-class-1 anim1' %>
              <%= link_to 'Редактировать',edit_admin_picture_path(picture), class: 'btn btn-default' %>
          <%end %>
        </a>
          <p class="text-tab">РАСПОЛОЖЕНИЕ</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="img-tab">
        <a href="/projects">
          <% @pictures.where(id:5).each do |picture| %>
              <%= image_tag picture.photo.url(:small),  alt: 'nordplan', class: 'img-responsive img-class-1 anim1' %>
              <%= link_to 'Редактировать',edit_admin_picture_path(picture), class: 'btn btn-default' %>
          <%end %>
        </a>
        <div class="text-tab">
          <p class="text-tab">ГЕНПЛАН</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="img-tab">
        <a href="/building">
          <% @pictures.where(id:6).each do |picture| %>
              <%= image_tag picture.photo.url(:small),  alt: 'nordplan', class: 'img-responsive img-class-1 anim1' %>
              <%= link_to 'Редактировать',edit_admin_picture_path(picture), class: 'btn btn-default' %>
          <%end %>
        </a>
        <div class="text-tab">
          <p class="text-tab">ИНФРАСТРУКТУРА</p>

        </div>
      </div>
    </div>
  </div>
  <div class="about text-center p1">
    <% @sheets.where(item:'ГЛАВНАЯ').each do |sheet| %>
    <%= image_tag sheet.photo.url(:big), alt: ' ', class: 'img-responsive' if sheet.photo?%>
    <h2><%= sheet.title %></h2>
    <p class="p1"><%= sheet.text.html_safe %>
      <%= link_to 'Редактировать', edit_admin_sheet_path(sheet), class: 'btn btn-default' %>
    <td>
      <%= link_to 'Удалить', admin_sheet_path(sheet), class: 'btn btn-default',
      method: :delete,
      data: { confirm: 'Продолжить?' } %>
    </td>
    <% end %>
    </div>
  <br> <%= link_to 'Создать', new_admin_sheet_path, class: 'btn btn-default center-block' %>

  <div class="projects text-center">
    <h2>НЕКОТОРЫЕ ПРОЕКТЫ КОМПАНИИ «NORD PLAN»</h2>
      <div class="row">
        <% @models.each_slice(10) do |model| %>
          <div class="row">
            <% @models.each do |model| %>
              <div class="col-sm-4 col-lg-4">
                <div class="model-house">
                  <%= image_tag model.photo.url(:small), alt: 'nordplan', class: 'img-responsive' %>
                  <%= link_to 'Подробнее', model_path(model), class: 'btn btn-primary', role: 'button' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
</div>
