<% @pictures.where(id:26).each do |picture| %>
    <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
    <%= link_to 'Редактировать',edit_admin_picture_path(picture), class: 'btn btn-default' %>
<%end %>
<% @sheets.where(item:'ДОМА').where(id:187).each do |sheet| %>
  <%= image_tag sheet.photo.url(:big), alt: ' ' if sheet.photo?%>
<h2><%= sheet.title %></h2>
<p class="p1"><%= sheet.text.html_safe %>
  <%= link_to 'Редактировать',edit_admin_sheet_path(sheet), class: 'btn btn-default' %>
  <%= link_to 'Удалить', admin_sheet_path(sheet), class: 'btn btn-default',
  method: :delete,
  data: { confirm: 'Продолжить?' } %>
<% end %>
<br> <%= link_to 'Создать статью', new_admin_sheet_path, class: 'btn btn-default' %>
<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td>
          <%= image_tag sale.photo.url(:small) %>
          <br>
          <%= link_to 'Подробнее', admin_sale_path(sale), class: 'btn btn-primary', role: 'button' %>
        </td>
        <td>
          <%= sale.title %>
        </td>
        <td>
          <%= link_to 'Редактировать', edit_admin_sale_path(sale), class: 'btn btn-default' %></td>
        </td>
        <td>
          <%= link_to 'Удалить', admin_sale_path(sale), class: 'btn btn-default',
          method: :delete,
          data: { confirm: 'Продолжить?' } %>
        </td>
    </tr>
    <% end %>
  </tbody>
  </table>
  <% @sheets.where(item:'ДОМА').where(id:187).each do |sheet| %>
    <%= image_tag sheet.photo.url(:big), alt: ' ' if sheet.photo?%>
  <h2><%= sheet.title %></h2>
  <p class="p1"><%= sheet.text.html_safe %>
    <%= link_to 'Редактировать',edit_admin_sheet_path(sheet), class: 'btn btn-default' %>
    <%= link_to 'Удалить', admin_sheet_path(sheet), class: 'btn btn-default',
    method: :delete,
    data: { confirm: 'Продолжить?' } %>
  <% end %>
  <%= link_to 'Создать дом', new_admin_sale_path, class: 'btn btn-default' %>
