<% @pictures.where(id:25).each do |picture| %>
    <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
    <%= link_to 'Редактировать',edit_admin_picture_path(picture), class: 'btn btn-default' %>
<%end %>
<% @sheets.where(item:'ЦЕНЫ').each do |sheet| %>
  <%= image_tag sheet.photo.url(:big) if sheet.photo? %>
<h2><%= sheet.title %></h2>
<p class="p1"><%= sheet.text.html_safe %>
  <%= link_to 'Редактировать', edit_admin_sheet_path(sheet), class: 'btn btn-default' %>
  <%= link_to 'Удалить', admin_sheet_path(sheet), class: 'btn btn-default',
  method: :delete,
  data: { confirm: 'Продолжить?' } %>
<% end %>
<br> <%= link_to 'Создать', new_admin_sheet_path, class: 'btn btn-default' %>
