<div class="item active">
  <% @pictures.where(id:9).each do |picture| %>
      <%= image_tag picture.photo.url(:big) , class: 'img-responsive' %>
      <%= link_to 'Редактировать',edit_admin_picture_path(picture), class: 'btn btn-default' %>
  <%end %>
</div>
<div class="row">
  <div class="col-lg-4 col-sm-4 col-xs-12">
    <div class="img-tab">
      <a href="/nordplan">
        <% @pictures.where(id:10).each do |picture| %>
            <%= image_tag picture.photo.url(:small),  alt: 'nordplan', class: 'img-responsive img-class-1 anim1' %>
            <%= link_to 'Редактировать',edit_admin_picture_path(picture), class: 'btn btn-default' %>
        <%end %>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-sm-4 col-xs-12">
    <div class="img-tab">
      <a href="/projects">
        <% @pictures.where(id:11).each do |picture| %>
            <%= image_tag picture.photo.url(:small),  alt: 'nordplan', class: 'img-responsive img-class-1 anim1' %>
            <%= link_to 'Редактировать',edit_admin_picture_path(picture), class: 'btn btn-default' %>
        <%end %>
      </a>
      <div class="text-tab">
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-4 col-xs-12">
    <div class="img-tab">
      <a href="/building">
        <% @pictures.where(id:12).each do |picture| %>
            <%= image_tag picture.photo.url(:small),  alt: 'nordplan', class: 'img-responsive img-class-1 anim1' %>
            <%= link_to 'Редактировать',edit_admin_picture_path(picture), class: 'btn btn-default' %>
        <%end %>
      </a>
      <div class="text-tab">
      </div>
    </div>
  </div>
</div>
<% @sheets.where(item:'Проектирование').each do |sheet| %>
  <%= image_tag sheet.photo.url(:big), alt: ' ', class: 'img-responsive' if sheet.photo?%>
<h2><%= sheet.title %></h2>
<p class="p1"><%= sheet.text.html_safe %>
  <br>
  <br>
<%= link_to 'Редактировать',edit_admin_sheet_path(sheet), class: 'btn btn-default' %>
<%= link_to 'Удалить',admin_sheet_path(sheet), class: 'btn btn-default',
method: :delete,
data: { confirm: 'Продолжить?' } %>
<% end %>
<br> <%= link_to 'Создать', new_admin_sheet_path, class: 'btn btn-default' %>
