  <%= form_for [:admin, @table], html: { multipart: true } do |form| %>

  <% if table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :column1 %>
    <%= form.text_field :column1, id: :table_column1 %>
  </div>

  <div class="field">
    <%= form.label :column2 %>
    <%= form.text_field :column2, id: :table_column2 %>
  </div>

  <div class="field">
    <%= form.label :sale_id %>
    <%= form.text_field :sale_id, id: :table_sale_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
