<p id="notice"><%= notice %></p>

<h1>Tables</h1>

<table>
  <thead>
    <tr>
      <th>Column1</th>
      <th>Column2</th>
      <th>Sale</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.column1 %></td>
        <td><%= table.column2 %></td>
        <td><%= table.sale %></td>
        <td><%= link_to 'Edit', edit_admin_table_path(table) %></td>
        <td><%= link_to 'Destroy', admin_tables_path(table), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table', new_admin_table_path %>
