<p id="notice"><%= notice %></p>

<p>
  <strong>Column1:</strong>
  <%= @table.column1 %>
</p>

<p>
  <strong>Column2:</strong>
  <%= @table.column2 %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @table.sale %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
