<footer class="footer">
      <div class="top-footer center-block">
          <%= image_tag(image_path('logo3.jpg'), alt: 'nordplan', class: 'img-responsive top-footer logo3') %>
      </div>
      <div class="links center-text">
          <h2 class="links"><a href="/contacts">КОНТАКТЫ</a></h2>
      </div>
      <div class="bottom-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <%= image_tag(image_path('logo.jpg'), alt: 'nordplan', class: 'img-responsive top-footer') %>
            </div>
            <div class="col-md-4 center-text footer-text">
                <p class="footer-text">
                Офис продаж: <br>
                Россия, Ленинградская область, <br>
                Всеволожский район, Куйвозовская волость, деревня Васкелово,
                Микрорайон "Зеркальный"<br>
                Тел: 8(812)408-5453   <br>
                8(921)305-0909 <br>
                <a href="mailto:info@nord-plan.ru?subject=feedback">info@nord-plan.ru</a></p>
                Компания-застройщик
                <br> ООО "Норд-Проект" <br>
                <a href="http://nord-plan.ru">www.nord-plan.ru</a>
                </div>
            <div class="col-md-4">
              <div class="col-md-6">


                <svg class="img-responsive social" viewBox="0 0 256 256" >
                  <a href="https://www.instagram.com/lake_villa/">
                  <path id="inst" d="M127.999746,23.06353 C162.177385,23.06353 166.225393,23.1936027 179.722476,23.8094161 C192.20235,24.3789926 198.979853,26.4642218 203.490736,28.2166477 C209.464938,30.5386501 213.729395,33.3128586 218.208268,37.7917319 C222.687141,42.2706052 225.46135,46.5350617 227.782844,52.5092638 C229.535778,57.0201472 231.621007,63.7976504 232.190584,76.277016 C232.806397,89.7746075 232.93647,93.8226147 232.93647,128.000254 C232.93647,162.177893 232.806397,166.225901 232.190584,179.722984 C231.621007,192.202858 229.535778,198.980361 227.782844,203.491244 C225.46135,209.465446 222.687141,213.729903 218.208268,218.208776 C213.729395,222.687649 209.464938,225.461858 203.490736,227.783352 C198.979853,229.536286 192.20235,231.621516 179.722476,232.191092 C166.227425,232.806905 162.179418,232.936978 127.999746,232.936978 C93.8200742,232.936978 89.772067,232.806905 76.277016,232.191092 C63.7971424,231.621516 57.0196391,229.536286 52.5092638,227.783352 C46.5345536,225.461858 42.2700971,222.687649 37.7912238,218.208776 C33.3123505,213.729903 30.538142,209.465446 28.2166477,203.491244 C26.4637138,198.980361 24.3784845,192.202858 23.808908,179.723492 C23.1930946,166.225901 23.0630219,162.177893 23.0630219,128.000254 C23.0630219,93.8226147 23.1930946,89.7746075 23.808908,76.2775241 C24.3784845,63.7976504 26.4637138,57.0201472 28.2166477,52.5092638 C30.538142,46.5350617 33.3123505,42.2706052 37.7912238,37.7917319 C42.2700971,33.3128586 46.5345536,30.5386501 52.5092638,28.2166477 C57.0196391,26.4642218 63.7971424,24.3789926 76.2765079,23.8094161 C89.7740994,23.1936027 93.8221066,23.06353 127.999746,23.06353 M127.999746,0 C93.2367791,0 88.8783247,0.147348072 75.2257637,0.770274749 C61.601148,1.39218523 52.2968794,3.55566141 44.1546281,6.72008828 C35.7374966,9.99121548 28.5992446,14.3679613 21.4833489,21.483857 C14.3674532,28.5997527 9.99070739,35.7380046 6.71958019,44.1551362 C3.55515331,52.2973875 1.39167714,61.6016561 0.769766653,75.2262718 C0.146839975,88.8783247 0,93.2372872 0,128.000254 C0,162.763221 0.146839975,167.122183 0.769766653,180.774236 C1.39167714,194.398852 3.55515331,203.703121 6.71958019,211.845372 C9.99070739,220.261995 14.3674532,227.400755 21.4833489,234.516651 C28.5992446,241.632547 35.7374966,246.009293 44.1546281,249.28042 C52.2968794,252.444847 61.601148,254.608323 75.2257637,255.230233 C88.8783247,255.85316 93.2367791,256 127.999746,256 C162.762713,256 167.121675,255.85316 180.773728,255.230233 C194.398344,254.608323 203.702613,252.444847 211.844864,249.28042 C220.261995,246.009293 227.400247,241.632547 234.516143,234.516651 C241.632039,227.400755 246.008785,220.262503 249.279912,211.845372 C252.444339,203.703121 254.607815,194.398852 255.229725,180.774236 C255.852652,167.122183 256,162.763221 256,128.000254 C256,93.2372872 255.852652,88.8783247 255.229725,75.2262718 C254.607815,61.6016561 252.444339,52.2973875 249.279912,44.1551362 C246.008785,35.7380046 241.632039,28.5997527 234.516143,21.483857 C227.400247,14.3679613 220.261995,9.99121548 211.844864,6.72008828 C203.702613,3.55566141 194.398344,1.39218523 180.773728,0.770274749 C167.121675,0.147348072 162.762713,0 127.999746,0 Z M127.999746,62.2703115 C91.698262,62.2703115 62.2698034,91.69877 62.2698034,128.000254 C62.2698034,164.301738 91.698262,193.730197 127.999746,193.730197 C164.30123,193.730197 193.729689,164.301738 193.729689,128.000254 C193.729689,91.69877 164.30123,62.2703115 127.999746,62.2703115 Z M127.999746,170.667175 C104.435741,170.667175 85.3328252,151.564259 85.3328252,128.000254 C85.3328252,104.436249 104.435741,85.3333333 127.999746,85.3333333 C151.563751,85.3333333 170.666667,104.436249 170.666667,128.000254 C170.666667,151.564259 151.563751,170.667175 127.999746,170.667175 Z M211.686338,59.6734287 C211.686338,68.1566129 204.809755,75.0337031 196.326571,75.0337031 C187.843387,75.0337031 180.966297,68.1566129 180.966297,59.6734287 C180.966297,51.1902445 187.843387,44.3136624 196.326571,44.3136624 C204.809755,44.3136624 211.686338,51.1902445 211.686338,59.6734287 Z"></>
                  </a>
                </svg>
                <svg class="img-responsive social" viewBox="0 0 192 192">
                  <g fill="none" fill-rule="evenodd">
                  <a href="https://vk.com/lakevilla">
                    <path fill="#5181B8" d="M66.56,0 C120.32,0 71.68,0 125.44,0 C179.2,0 192,12.8 192,66.56 C192,120.32 192,71.68 192,125.44 C192,179.2 179.2,192 125.44,192 C71.68,192 120.32,192 66.56,192 C12.8,192 0,179.2 0,125.44 C0,71.68 0,96.580329 0,66.56 C0,12.8 12.8,0 66.56,0 Z"/>
                    <path fill="#303030" d="M157.233993,66.1462211 C158.123557,63.1797719 157.233994,61 153.000244,61 L139.000244,61 C135.440505,61 133.799415,62.8830035 132.909356,64.9593945 C132.909356,64.9593945 125.789878,82.3129373 115.704198,93.5851974 C112.441227,96.8481681 110.957879,97.8863636 109.178009,97.8863636 C108.288198,97.8863636 107,96.8481681 107,93.8819658 L107,66.1462211 C107,62.586482 105.96694,61 103.000244,61 L81.0002441,61 C78.7757158,61 77.4378669,62.6521562 77.4378669,64.2179674 C77.4378669,67.5925348 82.4804603,68.3707494 83.0002441,77.8633869 L83.0002441,98.4799003 C83.0002441,103 82.1839388,103.819509 80.4040693,103.819509 C75.6579974,103.819509 64.1131647,86.388441 57.2660122,66.4427426 C55.9241353,62.5659897 54.5782535,61 51.0002441,61 L37.0002441,61 C33.0002441,61 32.2001953,62.8830035 32.2001953,64.9593945 C32.2001953,68.6675178 36.9465141,87.059256 54.2998099,111.383646 C65.8685915,127.995268 82.1682449,137 97.0002441,137 C105.899345,137 107.000244,135 107.000244,131.555007 L107.000244,119 C107.000244,115 107.843292,114.201711 110.661357,114.201711 C112.737749,114.201711 116.297488,115.239906 124.603545,123.249196 C134.095936,132.741586 135.660882,137 141.000244,137 L155.000244,137 C159.000244,137 161.000244,135 159.846475,131.053112 C158.583906,127.119411 154.051802,121.412135 148.038124,114.646617 C144.774906,110.790356 139.88045,106.637574 138.397102,104.560689 C136.320711,101.891255 136.914001,100.704429 138.397102,98.3315162 C138.397102,98.3315162 155.454123,74.3036478 157.233993,66.1462211 Z"/>
                  </a>
                  </g>
                </svg>
                </div>
                <div class="col-md-6">
                <svg class="img-responsive social" viewBox="0 0 512 512">
                  <a href="https://vk.com/lakevilla">
                    <path fill="#3c5a98" d="M 436.02923,2.7711868 H 83.581597 c -45.80209,0 -86.1493936,33.1379082 -86.1493936,78.7482632 v 350.97221 c 0,45.61035 40.3473036,86.41511 86.1493936,86.41511 H 301.80575 c -0.40885,-67.64884 0.0969,-142.98206 -0.23273,-208.44236 -13.91876,-0.14031 -27.8501,-0.85688 -41.76886,-1.06985 0.0516,-23.13463 0.0213,-46.74911 0.0302,-69.88 13.90997,-0.17164 27.82872,-0.20419 41.73868,-0.33574 0.42521,-22.49573 -0.42521,-45.13054 0.44533,-67.60624 1.38761,-17.79541 8.20105,-35.78249 21.56252,-48.07702 16.17691,-15.33249 39.17735,-20.54144 60.87194,-21.18663 22.93753,-0.20419 45.87758,-0.0952 68.82642,-0.0852 0.0906,24.10304 0.0906,48.20857 -0.01,72.3116 -14.83083,-0.025 -29.67047,0.0288 -44.50129,-0.0314 -9.39491,-0.58502 -19.05276,6.51187 -20.76241,15.79603 -0.22267,16.12924 -0.0806,32.26724 -0.0717,48.39148 21.74492,0.0914 43.49865,-0.025 65.24358,0.0552 -1.59015,23.3376 -4.50498,46.56245 -7.90668,69.69961 -19.21252,0.17162 -38.43762,1.89667 -57.64007,2.00691 -0.1623,65.43897 0.0503,140.80354 -0.11701,208.45239 h 48.51439 c 45.8021,0 79.70831,-40.80479 79.70831,-86.41515 V 81.51945 C 515.73736,35.909095 481.83141,2.7711868 436.02933,2.7711868 Z"/>
                  </a>
                  </g>
                </svg>
                </div>
            </div>
          </div>
        </div>
        </div>
</footer>
