<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a href="tel:+78124085453" class="tel">8 (812) 408 54 53</a>
    <div class="row">
    <div class="col-sm-2">
    <a href="/home">
  <%= image_tag(image_path('logo.jpg'), alt: 'nordplan', class: 'logo hidden-xs') %>
  </a>
    </div>
    <div class="col-sm-10">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">
        <span class="visible-xs">LAKE VILLA</span>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
    <!--    <li><%= active_link_to 'ГЛАВНАЯ', '/home'%></li> -->
        <li><%= active_link_to 'LAKE VILLA', '/home'%></li>
        <li><%= active_link_to 'РАСПОЛОЖЕНИЕ', '/location'%></li>
        <li><%= active_link_to 'ГЕНПЛАН', '/genplan'%></li>
        <li><%= active_link_to 'ДОМА', '/houses'%></li>
        <li><%= active_link_to 'ИНФРАСТРУКТУРА', '/infrastructure'%></li>
        <li><%= active_link_to 'ЦЕНЫ', '/prices'%></li>
        <li><%= active_link_to 'ГАЛЕРЕЯ', '/gallery'%></li>
      </ul>
    </div>
  </div>
  </div>
  </div>
</nav>
