<% content_for :tags do %>
<title><%= @sale.title  %></title>
<META NAME="keywords" CONTENT="<%= @sale.title %>">
<META NAME="description" CONTENT="<%= @sale.title %>">
<% end %>
<div class="villages">
  <div class="margin">
  <%= image_tag @sale.bimage.url(:big), alt: '@sale.title', class: 'img-responsive' %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1><%= @sale.title %></h1>
      <span class="right"> <%= @sale.minitext.html_safe %></span>
    </div>
    <div class="col-md-6">
      <div class="margin">
      <%= image_tag @sale.simage.url(:medium), alt: '@sale.title', class: 'img-responsive' %>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-6">
    <h3 style="">ТЭП</h3>
    <table class="table">
      <tbody class="table-style">
        <% @sale.tables.each do |t| %>
        <tr>
          <td>  <%= t.column1 %></td>
          <td>  <%= t.column2 %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <% @sale.relcovers.each_slice(2) do |row| %>
      <% row.each do |t| %>
        <div class="col-sm-6 col-lg-6">
          <div class="gallery-img">
            <%= link_to t.photo.url(:big) , :"data-fresco-group" => "yeah!",class: 'fresco' do %>
            <%= image_tag t.photo.url(:small), alt: 'nordplan', class: 'img-responsive' %>
            <% end %>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>
</div>
<div class="sotials">
  <a href="https://vk.com/lakevilla" class="vk"></a>
  <a href="https://www.instagram.com/lake_villa/" class="inst"></a>
</div>
<div class="model-view" id="load-model">
  <div class="photo-icon">
      <svg
         width="50"
         height="50"
         viewBox="0 0 250 125">
         <path
            style="stroke-width:0.54975224"
            d="m 51.348063,121.5208 c -2.843841,-0.45404 -7.053852,-2.49332 -8.640202,-4.1852 -3.594388,-3.83353 -3.457237,-1.7877 -3.443911,-51.372875 0.0135,-50.462413 -0.236678,-47.355762 4.122784,-51.18238 2.805634,-2.462719 5.121659,-3.362012 8.658441,-3.362012 3.258293,0 4.255414,0.639438 4.242912,2.720907 -0.0135,2.159503 -0.724451,2.832601 -3.34876,3.168114 -2.781657,0.355632 -4.760508,1.244065 -6.122696,2.748858 -0.89002,0.983192 -0.956213,4.109608 -0.97321,45.967503 -0.01215,29.08796 0.176532,45.276405 0.534566,45.945215 0.657056,1.22737 4.801752,3.33848 6.554388,3.33848 2.236791,0 3.364137,0.99703 3.364137,2.97526 0,2.5682 -1.793556,3.74185 -4.948449,3.23813 z"
            id="path74"
            inkscape:connector-curvature="0" />
         <path
            style="stroke-width:0.54975224"
            d="m 125.5747,116.05557 c -11.46578,-2.21927 -20.21449,-6.7965 -27.879473,-14.58621 -2.179095,-2.214567 -4.417962,-4.644855 -4.975253,-5.400665 -7.07837,-9.5997 -11.097562,-24.31945 -9.630634,-35.271 2.369572,-17.69048 12.49859,-32.14462 27.86088,-39.757569 8.31899,-4.122567 12.32488,-5.051998 22.27279,-5.167659 8.80559,-0.102384 11.44972,0.361674 19.01829,3.337759 13.59166,5.344466 24.87869,17.375319 29.30406,31.235229 2.42999,7.61048 3.1696,14.28334 2.31325,20.87033 -0.68225,5.24782 -3.01265,13.25955 -4.97595,17.10689 -6.35703,12.457415 -17.90697,22.162255 -31.03997,26.081365 -4.1808,1.2476 -6.18524,1.50312 -12.92093,1.64714 -4.38488,0.0937 -8.59105,0.0507 -9.34706,-0.0956 z m 19.26922,-7.35075 c 14.34221,-3.6609 26.0525,-14.785255 30.66059,-29.126455 2.42153,-7.53631 2.88586,-13.9735 1.5131,-20.97682 -3.38658,-17.27708 -14.54899,-29.74819 -31.41001,-35.092579 -5.35812,-1.698351 -15.13447,-2.115369 -20.64326,-0.880562 -16.06575,3.601168 -28.489707,14.696661 -33.609586,30.015751 -1.64646,4.92636 -1.746082,5.68865 -1.759912,13.46711 -0.01411,7.94126 0.05262,8.43764 1.810716,13.4671 2.71671,7.77181 5.504765,12.15921 11.393412,17.92914 3.96916,3.889145 6.19987,5.571755 9.95903,7.512045 4.28447,2.21143 10.32941,4.18172 15.29092,4.98391 3.29915,0.53342 12.36338,-0.16745 16.795,-1.29864 z"
            id="path76"
            inkscape:connector-curvature="0" />
         <path
            style="stroke-width:0.54975224"
            d="m 127.774,104.48613 c -2.65858,-0.44038 -8.54333,-2.48717 -11.81419,-4.10914 -14.33239,-7.107175 -22.692497,-22.995995 -20.600304,-39.152005 1.135876,-8.77137 4.739124,-16.13225 10.918714,-22.3053 14.53675,-14.521353 37.30568,-15.240468 52.69412,-1.66425 6.00107,5.29435 11.15731,13.99376 12.25076,20.66908 0.70301,4.29168 0.67963,12.41107 -0.0473,16.46838 -1.32405,7.38882 -7.74606,17.43894 -14.26088,22.31751 -8.17362,6.120745 -20.03109,9.284695 -29.14083,7.775725 z m 12.92094,-5.104877 c 7.58715,-1.216198 17.07402,-7.843718 21.69223,-15.154148 7.96472,-12.60781 6.20031,-30.70527 -4.05128,-41.5539 -8.00308,-8.46915 -20.91341,-12.59139 -31.56931,-10.07999 -9.41546,2.21905 -16.75324,7.19788 -21.74834,14.75669 -3.99377,6.04356 -6.285501,14.92939 -5.570902,21.60038 0.468212,4.37094 2.925662,11.80533 4.975142,15.05104 4.73033,7.49127 14.00059,14.06275 21.67009,15.361428 3.65115,0.61826 10.80434,0.62731 14.60237,0.0185 z"
            id="path80"
            inkscape:connector-curvature="0" />
         <path
            style="stroke-width:0.54975224"
            d="m 200.47665,121.22732 c -1.32516,-0.63845 -2.10484,-2.61867 -1.5748,-3.99958 0.37672,-0.98145 2.03533,-1.72222 4.89748,-2.18729 1.15695,-0.188 2.91909,-1.0791 3.98624,-2.01582 l 1.91263,-1.67885 V 66.436975 21.52819 l -1.83227,-1.775429 c -1.34136,-1.299753 -2.58761,-1.894797 -4.65151,-2.220966 -3.57644,-0.565208 -4.6163,-1.412817 -4.40337,-3.589268 0.23035,-2.354546 2.00745,-3.089063 6.0831,-2.514292 4.2504,0.599418 7.82552,3.165559 9.87536,7.088332 l 1.52661,2.921502 v 44.700176 c 0,30.03398 -0.19047,45.207875 -0.58054,46.247565 -1.73801,4.63241 -5.59167,7.76446 -10.97298,8.91824 -1.53785,0.32972 -2.84578,0.58275 -2.90649,0.56229 -0.0607,-0.0205 -0.67247,-0.30802 -1.35946,-0.63902 z"
            id="path82"
            inkscape:connector-curvature="0" />
         <path
            style="stroke-width:0.54975224"
            d="M 66.60576,10.282339 C 64.552179,9.07079 66.149384,4.3089187 69.302928,2.2411007 c 1.237749,-0.811605 2.915771,-1.023046 9.235852,-1.163768 9.062108,-0.20178004 11.443152,0.372284 13.385055,3.227092 2.33339,3.430338 0.633177,8.2015783 -2.055701,5.7688333 -0.622516,-0.56321 -1.131843,-1.466368 -1.131843,-2.0070133 0,-2.108158 -2.037365,-2.694362 -9.364308,-2.694362 -7.70327,0 -8.562136,0.300768 -9.549632,3.3442063 -0.6456,1.989736 -1.660842,2.484085 -3.216591,1.56625 z"
            id="path86"
            inkscape:connector-curvature="0" />
      </svg>
      </div>
      <p class="photo-gallery">Галерея</p>
</div>
<div class="model-gallery">
<% @sale.pics.each_slice(3) do |row| %>
  <% row.each do |t| %>
    <div class="col-sm-4 col-lg-4">
      <div class="gallery-img">
        <%= link_to t.photo.url(:big) , :"data-fresco-group" => "yeah!!",class: 'fresco' do %>
        <%= image_tag t.photo.url(:small), alt: 'nordplan', class: 'img-responsive' %>
        <% end %>
      </div>
    </div>
    <% end %>
<% end %>
</div>
<p> <%= @sale.text.html_safe %></p>
</div>
